html, body {
    margin: 0;
    background: rgba(0, 0, 0, .01);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

*, *:before, *:after {
    box-sizing: border-box;
}

.rs-dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.rs-dropzone--top { 
    align-items: flex-start;
    justify-content: space-between;
}

.rs-dropzone--active {
    background-color: #ddd;
}

.rs-dropzone-icon {
    display: block;
    max-width: 130px;
    margin: 0 auto 15px;
}

.rs-dropzone figcaption {
    font-size: 18px;
    text-align: center;
    color: #b5b5b5;
}

.rs-table-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}

.rs-table--processing {
    filter: blur(1px);
}

.rs-table {
    font-size: 12px;
    width: 100%;
}
.rs-table,
.rs-table thead,
.rs-table tbody,
.rs-table th, 
.rs-table td {
    border-collapse: collapse;
    border-spacing: 0;
}

.rs-table td,
.rs-table th {
    padding: .25em .75em;
}

.rs-table th {
    text-align: left;
    font-weight: normal;
    border: 1px solid #ddd;
}

.rs-table tbody tr:nth-child(even) {
    background-color: #eee;
}

.rs-table-processing-complete {
    background-color: #c8e0b2!important;
}


.rs-list-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
}

.rs-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.rs-list li {
    width: 12.5%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-list li .rs-list-item {
    padding: .1em;
    width: 100%;
    background-color: #eee;
}

.rs-list li figure {
    margin: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rs-list li figure:before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-bottom: 75%;
}
.rs-list li figure:after {
    content: "";
    display: table;
    clear: both;
}


.rs-toolbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em;
    border-top: 1px solid #b5b5b5;


    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(211,211,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
}

.rs-item-qty {
    font-size: .875em;
    margin-right: .5em;
}

.rs-input {
    margin-right: .25em;
    padding: 1.1em .75em;
    min-width: 14.2em;
    font-size: 0.7em;
}


button + button {
    margin-left: .5em;
}


.osxbutton {
    position: relative;
    vertical-align: top;
    padding: .5em .75em;
    font-size: 1.125em;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #27ae60;
    border: 0;
    border-bottom: 2px solid #219d55;
    cursor: pointer;
    box-shadow: inset 0 -2px #219d55;
    transition: 0.5s;
}

.osxbutton:hover {
    background: #218e4f;
    box-shadow: inset 0 0 #219d55;
}